.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
typing/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/webpack.config.js
yarn.lock
resources/*.png
resources/b1.gif
.github/**
package.json
azure-pipelines.yml
*.vsix
*.log
.github/**
*.yml
.babelrc
tslint.json
tsconfig.json
resources/css/**
TODO.md
.prettierrc.yml
.husky/**
gulpfile.js
.chglog/**